{% extends 'shopapp/base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="feature">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eius fugiat itaque molestias sit. Alias aliquid animi beatae dignissimos itaque odio optio quis voluptatem! Delectus dignissimos maxime modi voluptatem! Temporibus?</p>
        <div>
            <ul>
                {% for name, price in products %}
                    <li>{{ name }} for $ {{ price }}</li>
                {% endfor %}

            </ul>
        </div>
        <button class="btn btn-warning">Add path</button>

        {% for value in values %}
            <p>{{value}}</p>
        {% endfor %}
    </div>
{% endblock %}